<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Travel</title>
</head>
<body>
    <nav>
        <span>Travel</span>
        <a href="../index.html">Home</a>
        <a href="about.html" id="active">About</a>
        <a href="discover.html">Discover</a>
        <a href="places.html">Places</a>
    </nav>
    
<section>
  <div class="maina">
    <div class="maina1">
    <h1>More Information <br> About Maharashtra Tourist Places</h1>
    <p>Maharashtra, India Often called the 'Gateway to the Heart of India', Maharashtra is the third largest state and second most populous state than in the country. Owing to its proximity to the Western Ghats, it is blessed with a picturesque backdrop of the mountains on one side and has the beautiful Konkan coastal belt on the other</p> 
    <button type="submit">Reserve a Place</button>
</div>
<div class="maina2">
    <img src="../img/ALIBAG.jpg" alt="img1" id="img1">
    <img src="../img/ajanta_caves.jpg" alt="img2" id="img2">
</div>
</div>
</section>

<!-- footer -->

    <footer>
      <div class="container">
        <div class="frow">
          <div class="fcol1">
            <h2>Travel</h2>
            <p>Travel you choose the <br> destination, we offer you the <br> experience.</p>

            <img src="../img/facebook.png" alt="facebook">
            <img src="../img/instagram.png" alt="insta">
            <img src="../img/twitter.png" alt="twitter">
            <img src="../img/youtube.png" alt="youtube">

          </div>

          <div class="fcol2">
            <h2>About</h2>
              <a href="#">About Us</a>
              <a href="#">Features</a>
              <a href="#">New & Blog</a>
          </div>

          <div class="fcol3">
            <h2>Company</h2>
              <a href="#">Team</a>
              <a href="#">Plan & Pricing</a>
              <a href="#">Become amember</a>
          </div>

          <div class="fcol4">
            <h2>Support</h2>
              <a href="#">FAQs</a>
              <a href="#">Support Center</a>
              <a href="#">Contact Us</a>
            
          </div>

        </div>

      </div>
<div class="lastline">
      <!-- <h2>Travel.in</h2> -->
      <br />
      <span>© 2023<a href="#">Travel.in.</a> All Rights
        Reserved.</span>
        <a href="#">Terms & Agreements</a><br />
        <a href="#">Privacy Policy</a> <br />
    </div>
      </footer>
</body>
</html>